No DHCPv4 response on WAN when sending DHCP client identifier

### Describe the bug

I acknowledge that ISP behavior is related to this issue, but I would like to raise it to determine the proper resolution. Also, [IPv4 configuration](https://openwrt.org/docs/guide-user/network/ipv4/configuration) on the wiki is now a bit confusing - it states the default value of `clientid` is none. It used to be no value, but now in truth a value is automatically determined if none is specified.

After 387b49d89aa5c2c62c5437c51ee9ea4c58a13c8d, all DHCPv4 requests include a client identifier (DHCP option 61) in the request. According to Busybox source code one is internally generated by `udhcpc` if none is specified. My ISP, Viken Fiber / Altibox (Norway), appears to not grant any DHCP address to these requests. I don't understand why, but reverting 387b49d89aa5c2c62c5437c51ee9ea4c58a13c8d and restoring old behavior, netifd calls `udhcpc` with the `-C` switch causing `udhcpc` to not send any client identifier at all restores WAN to working order.

My ISP does support connecting my own router to their network and requesting WAN address via DHCP, and I am using their supported approach. My suspicion is that they could have some expectations from their own supplied equipment, as they provide IPTV set top boxes and IP telephone adapters, and if a DHCP client identifier is sent they may expect it to be a known device from their inventory, which will not be true for a third party router.

According to [RFC 4361 section 6.1](https://www.rfc-editor.org/rfc/rfc4361#section-6.1), DHCPv4 clients must send option 61 with a unique identifier. However, the long term default of OpenWrt *not* sending a client identifier by default until 387b49d89aa5c2c62c5437c51ee9ea4c58a13c8d indicates that it is not strictly required for the network to function. My experience is that this actually breaks, although considering the RFC wording it may be in truth my ISP is the broken party. Still, the old behavior is what is required to get WAN working at all.

It seems netifd now implements the RFC 4361 wording, in that DHCPv4 clients must send an identifier, with no option to disable it. I think it should be possible to avoid sending an identifier, similar to how we can set `network.interface.hostname` to `*` to avoid sending a hostname in the DHCP request.

### OpenWrt version

r29441-a0f45a4f3f

### OpenWrt release

SNAPSHOT

### OpenWrt target/subtarget

mvebu/cortexa9

### Device

Turris Omnia

### Image kind

Official downloaded image

### Steps to reproduce

Use the default configuration for the `wan` interface:

```
config interface 'wan'
        option device 'eth2'
        option proto 'dhcp'
```

`ifup wan`

No DHCPv4 address is assigned.

Edit `/lib/netifd/proto/dhcp.sh` on device, and restore line 54 to as it was prior to the reported commit adding ` || clientid="-C"` at the end:
`[ -n "$clientid" ] && clientid="-x 0x3d:${clientid//:/}" || clientid="-C"`

### Actual behaviour

No DHCPv4 address is received on WAN with r29441 unmodified, when `network.wan.clientid` is unset.

### Expected behaviour

DHCPv4 address should be received. This may be an ISP-side bug as well, but we may need to work around those.

### Additional info

_No response_

### Diffconfig

```text

```

### Terms

- [x] I am reporting an issue for OpenWrt, not an unsupported fork.

This appears to have fixed itself. I've had issues with WAN on newer revisions for some time, and going back to older revisions or 24.10 images always resolved everything, which made me think there was a consistent bug, that I eventually tracked down to the mentioned commit. I tried to do a packet capture of the DHCP request and response with both old and new behavior, and now the current script works just fine. It might have been a stale entry problem on the ISP side, i.e. when I updated to newer revision and began sending requests with client identifier, there was already an entry on the DHCP server for the same MAC address, but with no client identifier at all, which may have confused the ISP DHCP server.